# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environments (uv)
.venv/
.env

# Mac OS System Files
.DS_Store

# Logs
*.log
run.log

# Data Files (We don't want to commit the dataset)
*.jsonl
data/